<!doctype html>

<html>
	<head>
		<title> Squirrels </title>
		<h1> Squirrels of Central Park </h1>
	</head>
	<body>
		<img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/D6E6/production/_109241055_mediaitem109241054.jpg" width="600" height="400"  align="middle">

		<ol>
			<li><P> <a href='/map'>Sightings Map</a></p></li>
			<li><p> <a href='/sightings'>Sighting Details</a></p></li></ol>
		<br><br>
		<p>Created by:</p>
		<ul>
			<li><p>Sarthak Arora | sa3866</p></li>
			<li><p>Shubhangi Sengar | ss6123</p></li>
		</ul>
	</body>
</html>

