<!doctype>
<html>
        <head>
                <title> Sightings</title>
        </head>
        <body>

		<p><i><a href = '/'> Main page </a></i>></p>
		<h1>Sightings List</h1>
		<img src="https://media.npr.org/assets/img/2017/04/25/istock-115796521-fcf434f36d3d0865301cdcb9c996cfd80578ca99.jpg" width="500" height="350"  align="middle">
                <ol>
                        <li><p> <a href = '/sightings/stats'> See statistics </a></p></li>
                        <li><p> <a href = '/sightings/add'> Add a New Sighting </a> </p></li>
                </ol>
                <h2> Click to edit:</h2>
                <p>
                        <ol>
                                {% for squirrel in squirrels %}
				<li><a href = '/sightings/{{ squirrel.Unique_Squirrel_ID}}'>{{squirrel.Unique_Squirrel_ID}}</a></li>
                                {% endfor %}
                        </ol>
                </p>
        </body>
</html> 
